.b {
  text-align: left;
  text-justify: inter-word;
  width: 600px;
  word-wrap: break-word;
  padding:10px;

  
}
md-divider {
  border-width: 0.5px;
  border-style: solid;
  color:#e5e5e5;
}
.strikethrough {
text-decoration: line-through;
}

.title{
  padding: 0px 5px;
}

.desc{
  display:inline-block;
}
.img{
  /* background-image:url(https://source.unsplash.com/random/800x600); */
  height:50%;
   width:50%;
   background-position: center;
   margin-left: auto;
   margin-right: auto;
}