
<div id="img" class="img"></div>
<!-- <img src="http://174.64.102.57:3000/uploads/{{ b._source.images[0]}}"> -->

<div fxLayout fxLayout.xs="row" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="10px">
    <md-card-content style="height:100%;padding-bottom: 24px" class="b" fxFlex="55%" layout-align="left">
        <h3 id="title"></h3>
        <md-card style="margin:10px">
        <h4>Description</h4>
        <p id="desc"></p>
        
        <div fxFlex="100%" fxLayout="row">
                <div fxFlex="100%" fxLayout="column">
                        <div class="desc">Rent</div>
                        <div class="desc">Room type</div>
                        <div class="desc">Number of bedrooms</div>
                        <div class="desc">Number of bathrooms</div>
                        <div class="desc">Zipcode</div>
                    </div>
            <div fxFlex="100%" fxLayout="column">
                    <div id="rent"></div>
                    <div id="rt"></div>
                    <div id="nbed"></div>
                    <div id="nbath"></div>
                    <div id="zipcode"></div>
            </div>
        </div>
    </md-card>
        <md-sidenav-container>
            <md-card style="margin:10px">
                <div style="padding: 5px 0px;"><h4>Amenities</h4>
                    <div fxFlex="100%" fxLayout="row">
                            <div fxFlex="100%" fxLayout="column">
                                    <div id="ac"></div>
                                    <div id="pb"></div>
                                    <div id="internet"></div>
                                    <div id="wandd"></div>
                                </div>
                        <div fxFlex="100%" fxLayout="column">
                            <div  id="gym"></div>
                            <div id="pool"></div>
                            <div id="waccess"></div>
                        </div>
                    </div>
                </div>
                <!-- <md-list fxLayout="column">
                    <md-divider ng-if="!$last"></md-divider>
                </md-list> -->
                <!-- <div style="padding: 5px 0px;"><b>Other facilities</b></div> -->
            </md-card>
        </md-sidenav-container>
    </md-card-content>

    <md-card fxFlex="35%" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="10" layout-align="center center" style="height:320px;padding:10px;">
        <div style="padding: 10px">
            <form fxFlex ngNativeValidate #myForm="ngForm" (ngSubmit)="bookHouse(myForm.value)">

                <div style="margin:10px" fxFlex="100%" fxLayout="column" layout-fill>
                    <!-- <div style="background-color: #000000;color:#ffffff; height:40px;line-height: 40px;
         text-align: center;"><b>$60 per day</b></div> -->
                    <div style="padding-top:10px;" flex fxLayout="row" fxLayoutGap="30px" layout-fill>

                        <md-form-field style="width:100%">
                            <input mdInput ngModel name="checkInDate" placeholder="when" [mdDatepicker]="picker" placeholder="Check in date" required>
                            <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
                            <md-datepicker #picker></md-datepicker>
                        </md-form-field>

                        <md-form-field style="width:100%">
                            <input mdInput ngModel name="checkOutDate" placeholder="when" [mdDatepicker]="picker1" placeholder="Check out date" required>
                            <md-datepicker-toggle mdSuffix [for]="picker1"></md-datepicker-toggle>
                            <md-datepicker #picker1></md-datepicker>

                        </md-form-field>
                    </div>
                    <md-select ngModel name="noOfGuests" style="width:100%;" mdInput placeholder='Guests: 1' floatPlaceholder="never">
                        <md-option *ngFor="let guest of guests" [value]="guest.value">
                            Guests: {{ guest.value }}
                        </md-option>
                    </md-select>
                    <md-form-field style="width:100%;margin-top:15px">
                    <!-- <md-input-container style="width: 100%; margin-top:5px"> -->
                     <input mdInput ngModel ngModel name="email" placeholder="Your email address" name="email" required>
                     <!-- </md-input-container> -->
                    </md-form-field>
                    <md-dialog-actions align="center" style="padding-top:24px">
                        <button md-button style="width:75%;background-color:red;color:#ffffff" ><b>Book</b></button>
                    </md-dialog-actions>
                </div>

            </form>
        </div>
    </md-card>

</div>