.form-container {
    display: flex;
    flex-direction: column;
    padding:2em;
    margin: 2em auto;
    background:#fff;
}

.form-container > * {
    width: 100%;
  }

  .datepicker-container {
  display: flex
  }

  .datebox {
      width: 100px;
      height: 1000px
  }

  .formdiv{
    background: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .cardiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  agm-map {
    height: 580px;
    width: 450px;
  }