<md-horizontal-stepper Linear="true">
    <md-step>
        <form #subleaseForm01="ngForm">
            <ng-template mdStepLabel>Fill out initial details</ng-template>
            <!-- {{diagnostic}} -->
            <div class="content" fxLayout="row" fxLayout.sm="column" fxLayoutGap="16px" position="fixed" style="height:100%">
                <md-card fxFlex="65">
                        <md-card>
                            <div></div>
                            <div></div>
                                <md-form-field>
                                        <input mdInput 
                                        id="title" 
                                        placeHolder="title" 
                                        required 
                                        [(ngModel)]="model.title" 
                                        name="title">
                                    </md-form-field>   
                            </md-card>
                            <md-card>
                                    <md-form-field>
                                            <input mdInput 
                                            id="zipcode" 
                                            placeHolder="Zip Code" 
                                            required 
                                            [(ngModel)]="model.zipcode" 
                                            name="zipcode">
                                        </md-form-field>
                            </md-card>
                </md-card>
                <md-card fxFlex="35">
                        <md-form-field>
                                <textarea mdInput 
                                id="description" 
                                placeholder="Description" 
                                required 
                                [(ngModel)]="model.description" 
                                name="description">
                                </textarea>
                            </md-form-field>
                    </md-card>
            </div>
            <br>
            <br>
            <div style="float:right">
                <button md-raised-button id='stepper1' color="warn" mdStepperNext>Next</button>
            </div>
        </form>
    </md-step>
    <md-step>
        <form #subleaseForm02="ngForm">
            <ng-template mdStepLabel>Details regarding unit</ng-template>
            <table>
                <thead>
                </thead>
                <tbody>
                    <tr *ngFor="let entry of homeTypes; let idx = index">
                        <td>{{entry.description}}</td>
                        <td>
                            <input type="radio" name="radiogroup" (change)="onSelectionChange(entry)" [checked]="(idx === 0)" [value]="entry.id">
                        </td>
                    </tr>
                </tbody>
            </table>
            <md-select 
            placeholder="bedrooms"
            id="bedrooms" 
            [(ngModel)]="model.bedrooms" 
            name="bedrooms">
                <md-option *ngFor='let count2 of numArray2' [value]="count2.viewValue">
                    {{count2.viewValue}}
                </md-option>
            </md-select>
            <md-select placeholder="bathrooms" 
            [(ngModel)]="model.bathrooms" 
            name="bathrooms"
            id="bathrooms">
                <md-option *ngFor='let count3 of numArray3' [value]="count3.viewValue">
                    {{count3.viewValue}}
                </md-option>
            </md-select>
            <div style="float:right">
                <button md-raised-button color="warn" mdStepperNext>Next</button>
            </div>
        </form>
    </md-step>
    <md-step >
        <form  #subleaseForm03="ngForm">
            <ng-template mdStepLabel>Amenities</ng-template>
            <table>
                <thead></thead>
                <tbody>
                    <tr *ngFor='let entry of amenities; let idx = index'>
                        <td>{{entry.amenity}}</td>
                        <td>
                                <md-slide-toggle 
                                ngDefaultControl 
                                (change)="onToggleChange(amenities.indexOf(entry))" 
                                [checked]="entry.value"></md-slide-toggle>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div style="float:right">
                <button md-raised-button color="warn" mdStepperNext>Next</button>
            </div>
        </form>
    </md-step>
    <md-step>
        <form  #subleaseForm04="ngForm">
            <ng-template mdStepLabel>Fill out your name</ng-template>
            <div class="content" fxLayout="row" fxLayout.sm="column" fxLayoutGap="16px" position="fixed">
                <md-card fxFlex="65">
                    <md-grid-list cols="1" rowHeight="200px">
                        <md-grid-tile>
                            <md-form-field>
                                <input mdInput 
                                placeholder="rent"
                                name="rent"
                                id="rent" 
                                required 
                                [(ngModel)]="model.rent">
                            </md-form-field>
                            {{this.model.rent}}
                        </md-grid-tile>
                        <md-grid-tile>
                                <md-form-field>
                                        <input mdInput 
                                        placeholder="start date" 
                                        id="start_date"
                                        [mdDatepicker]="picker1" 
                                        [(ngModel)]="model.start_date"
                                        name="start_date" 
                                        (ngModelChange)="onStartDateChange($event)">
                                            <md-datepicker-toggle mdSuffix [for]="picker1"></md-datepicker-toggle>
                                            <md-datepicker #picker1></md-datepicker>
                                    </md-form-field>
                                    
                                    <md-form-field>
                                        <input mdInput 
                                        placeholder="end date"
                                        id="end_date" 
                                        [mdDatepicker]="picker"  
                                        [(ngModel)]="model.end_date"
                                        name="end_date" 
                                        (ngModelChange)="onEndDateChange($event)">
                                        <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
                                        <md-datepicker #picker></md-datepicker>
                                    </md-form-field>
                        </md-grid-tile>
                        <md-grid-tile>
                            <input id="cin" name="cin" type="file" (change)="fileChangeEvent($event)" placeholder="Upload a file..." multiple/>
                        </md-grid-tile>
                    </md-grid-list>

                </md-card>
                
                    <agm-map fxFlex="30"
                        [latitude]="lat"
                        [longitude]="lng"
                        [disableDefaultUI]="false"
                        [zoomControl]="false"
                        (mapClick)="mapClicked($event)">
                            <agm-marker
                                *ngFor="let m of markers; let i = index"
                                (markerClick)="clickedMarker(m.label, i)"
                                [latitude]="m.lat"
                                [longitude]="m.lng"
                                [label]="m.label"
                                [markerDraggable]="m.draggable"
                                (dragEnd)="markerDragEnd(m, $event)">
                                <agm-info-window>
                                    <strong>Selected co-ordinates : ({{m.lat}}, {{m.lng}})</strong>
                                </agm-info-window>            
                            </agm-marker>
                    </agm-map>
                
            </div>
            <br>
            <div style="float:right">
                <button md-raised-button color="accent" (click)="upload()"  routerLink="/" routerLinkActive="active">Submit</button>
            </div>
        </form>
    </md-step>
</md-horizontal-stepper>