<div fxLayout="column" fxLayout="row" fxLayout.sm="column" fxLayoutGap="16px" position="fixed" fxFlex>
  <md-sidenav-container fxFlex>
    <md-toolbar color="primary">
        <div fxflex="30">
          <button md-button routerLink="/" routerLinkActive="active"> <md-icon id="gator_logo" class="icon" svgIcon="logo"></md-icon></button>
        </div>
        <span fxFlex></span>
        <div fxFlex=30>
            <button md-button routerLink="/add-sublease-form" routerLinkActive="active">Discover Hosting</button> 
            <span fxFlex></span>
            <div *ngIf="false; else lala">
              <button md-button [mdMenuTriggerFor]="menu">listings</button>
              <md-menu #menu="mdMenu">
                <md-list *ngFor="let data of (data.listingArray ? data.listingArray.slice(0,10): []); let i = index" [routerLink]="['/listing-detail', {'id':data._id}]"  routerLinkActive="active">
                  <md-list-item>{{data._source.title}}</md-list-item>
                </md-list>
              </md-menu>
              <span fxFlex></span>
              <button md-button id="logout" (click)="logout()" routerLinkActive="active">Logout</button>
            </div>
            <ng-template #lala>
              <button id="signup" md-button routerLink="/signup" routerLinkActive="active">Sign Up</button>
              <span fxFlex></span>
              <button id="login" md-button routerLink="/login" routerLinkActive="active">Login</button>      
            </ng-template>
          <button id="help" md-button routerLink="/help" routerLinkActive="active">Help</button>
          <span fxFlex></span>   
        </div>
    </md-toolbar>
    <router-outlet></router-outlet>
  </md-sidenav-container>
</div>