<div fxLayout fxLayoutAlign="center center" style="height:100%;display: flex;
align-items: center;">
    <div fxLayout="row" fxLayoutAlign="center center">
        <md-card style="width:500px">

            <form action="/home" #form="ngForm" (ngSubmit)="signUpSubmit(form.value)" ngNativeValidate>
                <div fxLayout="column">
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <!-- <md-icon>email</md-icon> -->
                        <md-input-container style="width: 80%; margin-right:0px;" hideRequiredMarker>

                            <input mdInput ngModel ng-model="user.name" name="name" placeholder="Name" required>

                        </md-input-container>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <!-- <md-icon>email</md-icon> -->
                        <md-input-container style="width: 80%; margin-right:0px;" hideRequiredMarker>

                            <input mdInput ngModel ng-model="user.email" name="email" placeholder="E-mail" required>

                        </md-input-container>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <!-- <md-icon>vpn_key</md-icon> -->
                        <md-input-container style="width: 80%; margin:auto auto" hideRequiredMarker>

                            <input [type] = 'password' mdInput ngModel ng-model="user.password" placeholder="Password" name="password" required>

                        </md-input-container>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <md-input-container style="width: 80%; margin:auto auto" hideRequiredMarker>

                            <input mdInput ngModel ng-model="user.cpassword" placeholder="Confirm Password" name="cpassword" required>

                        </md-input-container>
                    </div>
                    <md-dialog-actions align="end">
                        <button md-raised-button type="submit" color="accent"><b>Register</b></button>
                    </md-dialog-actions>
                </div>
            </form>
        </md-card>
    </div>
</div>